{% extends "base_header.html" %}
{% load crispy_forms_tags %}

{% block title %}
Aha
{% endblock %}

{% block content %}
    {% crispy saved_links.add_link %}
    {% csrf_token %}
    {% if saved_links.tags_and_urls %}
        <ul>
            {% for tag_and_url in saved_links.tags_and_urls %}
                <a href="{{ tag_and_url.url }}">{{tag_and_url.url}}</a>
                <ul>
                {% for tags in tag_and_url.tags %}
                    <a href="/links/getrelatedurl/{{ tags }}" class="btn btn-default">{{ tags }}</a>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
